<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">R for Reproducible Scientific Analysis</h3>
    <ul>
      <li>Introduction to R and RStudio</li>
      <li>Data Structures</li>
      <li>Exploring Data Frames</li>
      <li>Subsetting Data</li>
      <li>Control Flow</li>
      <li>Creating Publication-Quality Graphics with ggplot2</li>
      <li>Seeking Help</li>
      <li>Vectorization</li>
      <li>Functions Explained</li>
      <li>Writing Data</li>
      <li>Splitting and Combining Data Frames with plyr</li>
      <li>Datafram Manipulation with dplyr</li>
      <li>Dataframe Manipulation with tidyr</li>
      <li>Producing Reports with knitr</li>
      <li>Writing Good Software</li>
      <li><a href="https://swcarpentry.github.io/r-novice-gapminder/">Reference...</a></li>
    </ul>
  </div>
  
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Working with Vectors and Data Frames</li>
      <li>Reading and Plotting Data</li>
      <li>Creating and Using Functions</li>
      <li>Loops and Conditionals</li>
      <li>Using R from the Command Line</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>
  -->
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programming in MATLAB</h3>
    <ul>
      <li>Working with Arrays</li>
      <li>Reading and Plotting Data</li>
      <li>Creating and Using Functions</li>
      <li>Loops and Conditionals</li>
      <li>Defensive Programming</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference">Reference...</a></li>
     </ul>
   </div>
   -->
</div>

