<p id="who">
  <strong>Who:</strong>
 This course is designed for anyone who has reoccurring tasks of manipulating spreadsheets or creating graphs and is interested in learning the basics of a popular programming language, R, to automate those tasks. If you typically use Excel, this course may be of interest to you. Staff of all disciplines are welcome to attend.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
